@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Dancing+Script:wght@400..700&family=Libertinus+Keyboard&family=Ribeye+Marrow&display=swap');

.header {
    margin-top: 0;
    background-image: url(../img/1.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    width: 100%;
}
body {
    margin: 0;
    background-color: bisque;
/*    background-image: url(../img/india.jpg);*/
/*opacity: 0.3}*/}
h1 {
    font-family: "Covered by your Grace", cursive;
    font-size: 64px;
    text-align: center;
    color: darkgreen;
}

h2 {
    font-family: "Libertinus Keyboard", system-ui;
    text-align: center;
}

.wiki {
    font-family: "Ribeye Marrow", serif;
}

.country-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

/*.main td {*/
/*    color: dimgray;*/
/*    text-align: justify;*/
/*    padding: 0 5px;*/
/*}*/

/*.main td > h2 {*/
/*    font-size: 32px;*/
/*    font-weight: bold;*/
/*}*/

/*.main td > a {*/
/*    letter-spacing: 2px;*/
/*}*/
.main {
    width: 100%;
    /*display: inline-block;*/
    position: relative;
}

.left {
    position: absolute;
    width: 48%;
    left: 1%
}

.right {
    position: absolute;
    width: 48%;
    right: 1%
}

