

/*border for all stripes*/
div div {
    border: 1px solid black;
}
body > h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

/*english mnemo + size*/
p + p {
    font-size: 30px
}

/*class ending with ru size*/
[class$=nic] {
    font-size: 40px;
}

/*all p in h1 italic*/
h1 ~ p {
    font-style: italic;
}

/*center mnemo*/
p[lang] {
    text-align: center;
}

/*big div border*/
div.rainbow {
    border: 3px double black;
}

.red {
    background-color: red;
    color: white;
}

.orange {
    background-color: orange;
    color: black;
}

.yellow {
    background-color: yellow;
    color: black;
}

.green {
    background-color: green;
    color: white;
}

.light-blue {
    background-color: deepskyblue;
    color: black;
}

.blue {
    background-color: blue;
    color: white;
}

.violet {
    background-color: darkviolet;
    color: black;
}

/* stripe design and position*/
.stripe {
    position: relative;
    height: 70px;
    border: 1px solid black;
}

/* stripe content unified design*/
.left,
.center,
.right {
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
}

/* russian left */
.left {
    left: 20px;
}

/* color centered (transform!) */
.center {
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

/* english right */
.right {
    right: 20px;
}

.checkbox-trigger:checked ~ .rainbow > div {
    background-color: white;
}

.checkbox-trigger:checked ~ .rainbow .red {
    color: red;
}

.checkbox-trigger:checked ~ .rainbow .orange {
    color: orange;
}

.checkbox-trigger:checked ~ .rainbow .yellow {
    color: goldenrod;
}

.checkbox-trigger:checked ~ .rainbow .green {
    color: green;
}

.checkbox-trigger:checked ~ .rainbow .light-blue {
    color: deepskyblue;
}

.checkbox-trigger:checked ~ .rainbow .blue {
    color: blue;
}

.checkbox-trigger:checked ~ .rainbow .violet {
    color: violet;
}

button.btn-primary {
    background-color: black;
    color: white;
}

.checkbox-trigger ~ .btn-delete {
    opacity: 0.7;
}

/* default state: checkbox is not checked */
.colors-on {
    opacity: 1;
    font-weight: bold;
}

.colors-off {
    opacity: 0.4;
}

/* checked state */
.checkbox-trigger:checked ~ .colors-on {
    opacity: 0.4;
    font-weight: normal;
}

.checkbox-trigger:checked ~ .colors-off {
    opacity: 1;
    font-weight: bold;
}